body {
    font-family: $font-text;
    background: url("../images/fondo_tmp.jpg") fixed top center;
    color: $text-color;
    letter-spacing: 0.5px;
    overflow-x: hidden;

    a {
        color: $link-color;
        text-decoration: none;
        outline: 0 none;

        &:hover { color: white; }
    }
}

::selection {
    background: #b3d4fc;
    text-shadow: none;}

::-webkit-input-placeholder {
    color: #FFFFFF;
}

::-moz-placeholder,
input::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #FFFFFF;
}

button { border: 0 none; }

 /*A better looking default horizontal rule */
hr {
    display: block;
    width: 90%;
    height: 2px;
    border: 0;
    margin: 50px auto;
    padding: 0; 
    background-color: #fff;}
.hr_2{
    display: block;
    width: 90%;
    height: 2px;
    border: 0;
    margin: 5px auto;
    padding: 0; 
    background-color: #fff;
}


 /*Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0px none; }

 /*Remove default fieldset styles. */
fieldset,
figure {
    border: 0;
    margin: 0;
    padding: 0; }

 /*Allow only vertical resizing of textareas. */
textarea { resize: none; }



/*==========================================================================
  Helper classes
========================================================================== */

.relative { position: relative; }

 /* Absolute layers */
.absolute { position: absolute; }

.absolute-BottomLeft {
    @extend .absolute;
    bottom: 0;
    left: 0; }

.absolute-BottomRight {
    @extend .absolute;
    bottom: 0;
    right: 0; }

.absolute-TopLeft {
    @extend .absolute;
    left: 0;
    top: 0; }

.absolute-TopRight {
    @extend .absolute;
    right: 0;
    top: 0; }


/* Alignment */
.align-left {
    text-align: left; }

.align-right {
    text-align: right; }

.align-center {
    text-align: center; }


/* Texts Format */
.bold { font-weight: 500; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.justify {text-align: justify;}

/* Limit inside layer */
.limiter {
    margin: 0 auto;
    position: relative;
    width: $width-limiter; }

.height { padding-top: 70px; }
.pad_parraph{padding-bottom: 30px;}

.hidden { display: none !important; }

.invisible { visibility: hidden; }
.visible { visibility: visible; }

.opacity-show { opacity: 1.0 !important; }
.transparent { opacity: 0.5; }

.inline-block { 
    display: inline-block;
    vertical-align: top; }
.block { display: block; }
.overlayer { overflow: hidden; }


 /* Float side */
.side-left { float: left; }
.side-right { float: right; }


/* Clear both */
.clear { clear: both;}

.error-inline {
    bottom: -26px;
    color: rgb(174, 4, 4);
    font-size: 0.7em;
    font-style: normal;
    font-weight: 500;
}

/* Reset ul, ol styles and children li */
.unstyled, .unstyled-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.unstyled-list > li {
  float: left;
  list-style: none; }