// Font Path
// --------------------------
$font-path: 'fonts';
$version: 1.1;

@font-face {
  font-family: 'Pilsen_text';
  src:url("#{$font-path}/kenyan_reg.eot?v=#{$version}");
  src:url("#{$font-path}/kenyan_reg.eot?v=#{$version}#iefix") format("embedded-opentype"),
      url("#{$font-path}/kenyan_reg.ttf?v=#{$version}") format("truetype"),
      url("#{$font-path}/kenyan_reg.woff?v=#{$version}") format("woff"),
      url("#{$font-path}/kenyan_reg.svg?v=#{$version}#headline") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pilsen_text';
  src:url("#{$font-path}/kenyan_bold.eot?v=#{$version}");
  src:url("#{$font-path}/kenyan_bold.eot?v=#{$version}#iefix") format("embedded-opentype"),
      url("#{$font-path}/kenyan_bold.ttf?v=#{$version}") format("truetype"),
      url("#{$font-path}/kenyan_bold.woff?v=#{$version}") format("woff"),
      url("#{$font-path}/kenyan_bold.svg?v=#{$version}#headline") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pilsen_title';
  src:url("#{$font-path}/FuturaStd-Book.eot?v=#{$version}");
  src:url("#{$font-path}/FuturaStd-Book.eot?v=#{$version}#iefix") format("embedded-opentype"),
      url("#{$font-path}/FuturaStd-Book.ttf?v=#{$version}") format("truetype"),
      url("#{$font-path}/FuturaStd-Book.woff?v=#{$version}") format("woff"),
      url("#{$font-path}/FuturaStd-Book.svg?v=#{$version}#headline") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* This font face inherits and overrides the previous font face, but only for chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Movistar';
    src: url("#{$font-path}/text-regular.svg?v=#{$version}#text-regular") format("svg");
  }
} */