// index.html
extends extends/base


block content
    main
        div.content
            div.parraph_1 INGRESA CON TUS DATOS
            div.parraph_2 Recuerda que para participar tienes que ser mayor de 18 años.
    div#register
        form#login-form.login-form.register__form
            label.login-form__title.block Ingresa tu fecha de nacimiento:

            .login-form__field.first-child 
                span
                    input#day_born(name="day_born", type="text", placeholder="Día", maxlength="2", value="DD")        

            .login-form__field
                span
                    input#month_born(name="month_born", type="text", placeholder="Mes", maxlength="2", value="MM")
                

            .login-form__field
                span
                    input#year_born(name="year_born", type="text", placeholder="Año", maxlength="4", value="AAAA")
                
            label.login-form__title.block Ingresa tu DNI:

            .login-form__field.input-dni                            
                span
                    input#dni(name="dni", type="text", placeholder="DNI", maxlength="8")
            
            .field__birth
                input#birth_date(type="hidden", name="birth_date")

            #errors.errors

            .login-form__action.align-center
                button#btn-login.btn-action__button(type="submit") Enviar 