// index.html
extends extends/base


block content
    main
        div.content
            div.parraph_1 ¡BUENA PILSENERO!
            div.parraph_2 Has ganado un joncarryon.!Solo tienes 2 horas para registrarte y obtener tu premio, no lo olvides¡
            div.btn-action--form.boton
                a(href="www.pilsencallado.com.pe", alt="Registrate para confirmar tu premio", style="font-size: 0.6em") Registrate para confirmar tu premio.
            hr
            div.parraph_2.justify.pad_parraph Mira nuestro videos exclusivos.Todos los días encontraras uno nuevo.
            div.parraph_1.justify VISITA MÉXICO !VISITA A TU PATA¡
            div.parraph_2.justify.pad_parraph Un clavado de 200 kilos provoca Mini-tsunami en México.
            div.video
                img(src="images/video.png", alt="Video exclusivo")
            hr
            div.parraph_2 Mira los premios que podrias ganar:
            div.franja_2.parraph_2 
                a(href="enlace.html", alt="Un paquete de 2,500 KMS") Un paquete de 
                    strong 2,500 KMS
            div.franja_2.parraph_2
                a(href="enlace2.html" alt="Mil paquetes de 200 KMS") Mil paquetes de 
                    strong 200 KMS
            div.franja_2.parraph_2
                a(href="enlace3.html" alt="20 Joncarryones") 
                    strong 20 Joncarryones
            hr
            div.parraph_2 Enterate mas de VISITA A TU PATA aquí
                div.btn-action--form.boton.boton
                    a(href="www.pilsencallado.com.pe", alt="www.pilsencallado.com.pe") www.pilsencallado.com.