// index.html
extends extends/base


block content
    main
        div.content
            hr
            div.parraph_1 LO SENTIMOS
            div.parraph_2 EL TIEMPO PARA REGISTRAR TU PREMIO HA EXPIRADO
            hr
            div.parraph_2 Según las bases del concurso, tenías 2 horas para registrarte y reclamar tu premio. Puedes seguir Shazameando el comercial e internarlo nuevamente.