// index.html
extends extends/base


block content
    main
        div.content
            div.InfoRaspaTop
                div.InfoRaspaLeft.justify
                    h1 Raspa con tu dedo
                    span en la pantalla de tu celular y descubre tu premio.
                div.InfoRaspaRight
                    img(src="images/cel.png", alt="Celular")

            div.RaspaGana
                div.contentRaspaGana
                    img(src="images/raspa_gana.png" alt="Raspa y gana")
