// index.html
extends extends/base


block content
    main
        div.content
            div.parraph_2 Parece que no estas registrado en la campaña
            div.parraph_1 INGRESA TUS DATOS:
            div.parraph_2 Para registrar tu premio
    
    div#register
        form#register-form.register-form
            .register-form__field--name
                span
                    input#name(name="name", type="text", placeholder="Nombres" value="NOMBRES")
                
            .register-form__field--name
                span
                    input#lastname_father(name="lastname_father", type="text", placeholder="Apellido Paterno", value="APELLIDO PATERNO")
                
            .register-form__field--name
                span
                    input#lastname_mother(name="lastname_mother", type="text", placeholder="Apellido Materno", value="APELLIDO MATERNO")
                
            .register-form__group
                .register-form__field.space                      
                    label Ingresa tu fecha de Nacimiento

                .register-form__field--born.space
                    span
                        input#day(name="day", type="text", placeholder="Día", maxlength="2", readonly, value="DD")

                .register-form__field--born.space
                    span
                        input#month(name="month", type="text", placeholder="Mes", maxlength="2", readonly, value="MM")

                .register-form__field--born
                    span
                        input#year(name="year", type="text", placeholder="Año", maxlength="4", readonly, value="YYYY")

            .register-form__field.space.media
                span
                    input#dni_log(name="dni_log", type="text", placeholder="DNI", maxlength="8", readonly, value="Numero de DNI")
            
            .register-form__group--genre
                .register-form__field.space              
                    label Género             

                .register-form__field.space
                    label(for="male") M                
                    .wrap.check
                        input#m(name="gender", type="radio", value="M", checked)

                .register-form__field
                    label(for="female") F                      
                    .wrap
                        input#f(name="gender", type="radio", value="F")

            .register-form__field--email
                span
                    input#email(name="email", type="email", placeholder="Correo electrónico", value="CORREO ELECTRÓNICO")

            .register-form__group--city
                .register-form__field.name
                    span
                        select#department(name="department")
                            option(value="") • DEPARTAMENTO

                .register-form__field.name
                    span
                        select#province(name="province")
                            option(value="") • PROVINCIA

                .register-form__field.name
                    span
                        select#district(name="district")
                            option(value="") • DISTRITO
            
            .register-form__field--name
                span
                    input#mobile(name="mobile", type="text", placeholder="Número de celular", maxlength="9", value="NÚMERO DE CELULAR")
            
            .register-form__field--text.text-aviso
                label * Todos los datos son obligatorios
            hr.hr_2
            
            .register-form__field--check.text-aviso-2
                .wrap
                    input#terms(name="terms", type="checkbox")
                label(for="terms") Acepto los <a href="#" target="_blank">Términos y condiciones</a>
            hr.hr_2

            .register-form__field--check.text-aviso-2
                .wrap
                    input#promo(name="promo", type="checkbox")
                label(for="promo") Deseo recibir información / promociones por correo (NO ES OBLIGATORIO)

            .register-form__action.align-center
                button#btn-register.btn-action__button(type="submit") ENVIAR