@import 'globals/normalize';
@import 'globals/typography';
@import 'globals/variables';
@import 'globals/global';

@import 'resources/utils';
@import 'resources/buttons';
@import 'resources/forms';


/*==========================================================================
  Layouts
========================================================================== */



/*==========================================================================
  Home y Resultado
========================================================================== */
.franja{
    width: 100%;
    height: 10px;
    background: #08783a;
}


#branding{
    min-width: 320px;
    max-width: 100%;
    .franja_desktop{
        width: 100%;
        background: #0c7139;

        #logo{
            max-width: 520px;
            height: 90px;
            margin: 78px auto;
            background: #49b97b;
            img{
                position: absolute;
                width: 520px;
                height: 180px;
                border: 0;
                margin: 0;
                top: 50px;
            }
    }
    }

}

main{
    min-width: 320px;
    max-width: 520px;
    margin: 0 auto;
    
    .content{
        max-width: 300px;
        min-width: 300px;
        margin: 0 auto;
        font-family: $font-text;
        color: #12620a;
        text-align: center;
        height: 100%;
        .parraph_1{
            font-size: 32px;
            margin: 0 auto;
        }

        .parraph_2{
            font-size: 22px;
        }
    }
}

.franja_2{
    background: #49b97b;
    margin: 6px auto;
    height: 38px;
    padding-top: 10px;
    a{color: #12620a;}
}

.terms{
    min-width: 320px;
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    a{
        color: #fff;
        font-size: 18px;
        text-decoration: underline;
    }
}


#colophon{
    min-width: 320px;
    width: 100%;
        .colophon__contact{
            min-width: 320px;
            max-width: 520px;
            margin: 12px auto;
            overflow: hidden;
            img{float: left; display: block; width: 166px;}
            span{float: right; display: block; width: 130px; margin-top: 8px;}
        }
}

.colophon__message{
    min-width: 320px;
    width: 100%;
    background: #000;
    text-align: center;
    padding: 18px;
}


.boton{
    margin: 12px auto;
    width: 300px;
    height: 78px;
    a{
        color: #fff;
        font-size: 0.6em;
        display: block;
        padding-top: 25px;
    }
}



/*==========================================================================
  Raspa
========================================================================== */

main{
    min-width: 320px;
    max-width: 520px;
    margin: 0 auto;
    .content{
        margin: 0 auto;
        font-family: $font-text;
        color: #12620a;
        text-align: center;
        .InfoRaspaTop{
            overflow: hidden;
            margin: 10px auto;
            .InfoRaspaLeft{
                width: 65%;
                float: left;
                height: 101px;
                padding: 2px;
                background: rgba(255, 255, 255, 0.3);
                h1{
                    margin: 6px 0 0 0;
                }
            }
            .InfoRaspaRight{
                width: 30%;
                float: right;
                padding: 2px;
                background: rgba(255, 255, 255, 0.3);
                img{
                    height: 101px;
                }
            }
        }
    }
}

/*==========================================================================
  Register
========================================================================== */
#register {
    max-width: 520px;
    z-index: 40;
    text-align: center;
    margin: 20px auto;
    
    .register__close {
        background: transparent url('../images/icon/icon_sprite.png') no-repeat 0 0;
        border: 0 none;
        outline: 0 none;
        color: transparent;
        width: 35px;
        height: 35px;
        @include transition_set(all, 0.2s, ease-out);
        &:hover {
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }
    }
    
    .register__title {
        margin-bottom: 20px;
        h2 {
            display: inline-block;
            font-weight: 300;
            font-size: 1.8em;
            margin: 0 15px;
            text-transform: uppercase;
            &.respond {
                color: $border-color;
                font-size: 2.6em;
            }
        }        
        
        .register__icon--chela { @extend .icon__chelas; }
        
        .register__icon--glass { @extend .icon__chelas--glass; }        
    }
    
    .register__form {
        max-width: 550px;
        margin: 0 auto;
    }

    .respond__success,
    .respond__wrong {
        text-align: center;
        margin-top: 22px;
        h3 {
            font-size: 1.8em;
            font-weight: 300;
            margin: 0 0 15px 0;
        }
        p { 
            font-size: 1.25em;
            line-height: 1.2;
        }
        span, a {
            color: $border-color;
        }
    }
    
    .login-form {
        max-width: 520px;
        .login-form__title {
            font-size: 28px;
            color: #12620a;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}


/*==========================================================================
  Formularios
========================================================================== */
.login-form {
    .login-form__field {
        @extend .form-field--text;
        width: 68px;
        margin-left: 20px;
        margin-bottom: 20px;
        
        &.first-child { margin-left: 0; }
        
        &.input-dni {
            width: 100%;
            margin-left: 0;
        }
    }

    .login-form__action {
        .btn-action__button {
            @extend .btn-action--form;
        }
    }
}

.register-form {
    max-width: 550px;
    .register-form__field {
        @extend .form-field--text;
        margin-bottom: 18px;
        width: 260px;
        &.space { margin-right: 26px; }
        span:before {
            content: "•";
            display: inline-block;
        }
        label { line-height: 35px; }
        input, select { width: 93% !important; }
        h3 {
            color: $border-color;
            text-transform: uppercase;
            font-size: 1em;
            margin: 0;
        }
    }

    .register-form__field--name,
    .register-form__field--email,
    .register-form__field--mobile,
    .register-form__field--text,
    .register-form__field--check {
        @extend .register-form__field;
        width: 100%;
    }

    .register-form__field--born {
        @extend .register-form__field;
        width: 67px;
        span:before {
            content: "";
            display: none;
        }
    }

    .register-form__group--genre {
        @extend .inline-block;
        width: 260px;
        .register-form__field {
            width: 67px;
            .wrap {
                background: url('images/bg_checkbox.png') no-repeat 0 0;
                display: inline-block;
                width: 24px;
                height: 24px;
                line-height: 26px;
                text-align: center;
                &.check {
                    background-position: 0 -25px;
                }
                input {
                    width: auto !important;
                    cursor: pointer;
                    margin: 0;
                    padding: 0;
                    opacity: 0;         
                }
            }            
        }
    }

    .register-form__group--city {
        .register-form__field {
            background-image: url('../images/icon/icon_triangule.png');
            background-repeat: no-repeat;
            background-position: 94% 13px;
            width: 163px;
            span { overflow: hidden; }
            span:before { display: none; }
            select {
                width: 120% !important;
            }
        }
    }

    .register-form__field--text {
        color: $border-color;
        height: 20px;
        line-height: 20px;
        a { text-decoration: underline; }
    }

    .register-form__field--check {
        .wrap {
            border: 2px solid $border-color;
            display: inline-block;
            width: 24px;
            height: 24px;
            line-height: 26px;
            text-align: center;
            &.check {
                background: url("images/bg_check.png") no-repeat center center;
            }
            input { 
                width: auto !important;
                cursor: pointer;
                opacity: 0;
            }
        }
    }

    .register-form__action {
        .btn-action__button {
            @extend .btn-action--form;
        }
    }
}

.text-aviso{
    label{
        color: red;}
}

.text-aviso-2{
    label{
        color: #12620a;
        a{color: #12620a;}
    }
}