/* Buttons */
.btn-action {
    @extend .inline-block;
    @include transition_set(border, 0.2s, ease);
    background: transparent;
    border: 2px solid #00FF48;
    padding: 4px;
    outline: 0 none;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;    
    .btn-action__content {
        background-color: white;
        display: block;
        font-weight: 300;
    }
    &:hover {
        border: 2px solid transparent;
    }
}

.btn-action--register {
    @extend .btn-action;   
    .btn-action__content {
        background: url('../images/btn/btn_register.png') no-repeat 0 0;
        color: transparent;
        width: 157px;
        height: 67px;
    }    
    &:hover .btn-action__content {
        background-position: 0 -79px;        
    }
}

.btn-action--win {
    @extend .btn-action;
    color: #1F8E49;
    .btn-action__content {   
        width: 147px;
        height: 35px;
        line-height: 38px;
    }    
    
    letter-spacing: .5px;
    &:hover .btn-action__content {
        background-color: #00CE14;
    }
}

.btn-action--form {
    background: url('../images/btn_action.png') no-repeat 0 0;
    color: white;
    font-family: $font-text;
    font-size: 2em;
    width: 300px;
    height: 78px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    &:hover {
        background: url('../images/btn_active.png') no-repeat 0 0;
    }
}

.btn-action--mobile {
    @extend .btn-action; 
    .btn-action__content {
        background: url('../images/btn/btn_register-mobile.png') no-repeat 0 0;
        color: transparent;
        width: 285px;
        height: 41px;
    }
    &:hover {
        border: 2px solid #00FF48;
    }
}

.btn-close {
    background: transparent url('../images/icon/icon_sprite.png') no-repeat 0 0;
    border: 0 none;
    outline: 0 none;
    color: transparent;
    width: 35px;
    height: 35px;
    @include transition_set(all, 0.2s, ease-out);
    &:hover {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
}