.form-field {
    @extend .inline-block;
    font-family: $font-title;
    position: relative;

    .form-error {
      border-color: red !important;
    }

    span {
        display: inline-block;
        width: 70%;
        background-color: #fff;
        border: 2px solid rgba(255,255,255,0.5);
        padding: 0 8px;
        box-sizing: content-box;
        &.form-error {
            border-color: red;
        }
    }

    cite.placeholder {
       @extend .absolute-TopLeft;
       display: inline;
       color: #434343;
       font-style: normal;
       left: 5px;
       text-transform: uppercase;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select {
        text-align: center;
        background: transparent;
        box-shadow: none;
        border: 1px none;
        color: #49b97b;
        font-family: $font-title;
        font-size: 0.85em;
        line-height: 37px;
        margin: 0;
        padding: 0;
        outline: 0 none;
        outline-offset: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &:focus,
        &:active,
        &:hover,
        &:visited {
            outline: 0 none;
            border: 0;
        }
    }
    option { color: #656565; }
}

.form-field--text {
    @extend .form-field;
}

.form-field--text-content {
    @extend .form-field;

    input { width: auto; }
    label {
        font-weight: 500;
        padding-right: 3px;
    }
}

.form-field--select {
    @extend .form-field;
}

.errors {
    em {
        color: $border-color;
        display: block;
        font-style: normal;
        font-weight: 300;
    }
    margin: 0 0 15px;
}