/* Media Query */
$small-width: 520px;
$large-width: 720px;

@media screen and ( min-width: $large-width ) {
}


@media screen and ( max-width: $small-width) {
    #branding,
    #social,
    .home__prizes,
    .desktop { display: none; }

    .mobile { display: block; }


    #menu-btn {
        width: 51px;
        overflow: hidden;
        .menu_btn {
            background-position: -56px 10px;
        }  
    }

    #colophon .colophon__contact {
        min-height: 63px;
        height: auto;
        padding-bottom: 5px;
        margin: 0 15px;
    }

    #social-menu {
        position: static;
        margin-top: 10%;
        display: block;

        ul li:first-child {
            display: block;
            margin-bottom: 10px;
            font-size: 1.1em;
        }
    }

    #register {
        .register__title h2 { width: 60%; }

        .register__form { width: 80%; }
        
        .register-form {
            //.space { margin-right: 0; }
            .register-form__group--city .register-form__field,
            .media {
                width: 100%;
                &.space { margin-right: 0; }
            }

            .register-form__field--text { display: none; }
        }            
    }

    .limiter { width: 100%; }

    .bg-intro {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img { 
            max-width: none;
            position: static;
        }
    }

    .height { 
        padding-top: 30px; 
        padding-bottom: 10px;
    }

    .menu {
        padding-top: 20px;
        .menu__items {
            li { margin-top: 5px; }
            a {
                font-size: 1.7em;
                padding: 7px 0 3px;
            }
        }
    }

    .message-mobile {
        @extend .absolute-BottomLeft;
        left: 2.5%;
        bottom: 5px;
    }

    .decreto-mobile {
        @extend .absolute-BottomRight;
        right: 2.5%;
        bottom: 5px;
    }
    

    /* -- Home -- */
    .logo-mobile {
        text-align: center;
        padding-top: 40px;
    }

    .home__title {
        padding-top: 10px;
        margin: 0 15px 10px;
        text-align: center;
    }

    .home-mobile {
        background: transparent url('../images/bg/bg_green.png') repeat 0 0;
        padding: 20px 0;
        width: 95%;
        margin: 0 auto;

        .home-mobile__title {
            font-size: 1.3em;
            margin: 20px 0 10px;
            text-transform: uppercase;
        }
        .home-mobile__steps {
            width: 100%;
            height: 270px;
        }
        .home-mobile__dates {
            margin-top: 35px;
            font-size: 1.2em;
            a {
                color: $border-color;
                text-transform: uppercase;
                text-decoration: underline;
            }
        }
    }


    
    /* -- Videos -- */
    .videos {
        width: 90%;
        padding: 0;
        padding-top: 20px;

        .videos__list {
            width: 100%;
            overflow: hidden;

            .videos__item {
                width: 100%;
                margin-bottom: 5px;

                .videos__item__box {
                    width: 94%;
                    margin: 0 3%;
                    h2 { font-size: 2em; }
                    p { font-size: 1em; }

                    .videos__item__play { margin-top: 30px; }
                }

                .videos__item__social {
                    bottom: 15px;
                    right: 50%;
                    margin-right: -73px;
                }
            }
        }
    }



    /* -- Premdios -- */
    .premios {
        padding: 70px 0 0 0;
        width: 95%;
        .premios__three .premios__three__sub {
            width: 95%;        
            &:first-child {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        article h2 { font-size: 2.9em; }
        .premios__one p,
        .premios__two p { width: 95%; }

        .premios_one_image {
            top: 10px;
            left: 41%;
            width: 68px;
            img { height: auto; }
        }
        .premios_two_image {
            top: 17px !important;
            right: 10px !important;
            width: 140px;
            img { height: auto; }
        }

        .premios__three {
            .premios__three__sub .premios__three__sub__image {
                left: 30%;
            }
            .premios__three__sub .premios__three__sub__image--dos {
                left: 40%;
            }
        }
    }

    .terminos {
        .terminos__content {
            max-width: 95%;
            padding: 25px 0 0;
        }
    }

    .ganadores {
        .ganadores__content {
            max-width: 95%;
            padding: 25px 0 0;
        }
        .ganadores__list { width: 100%; }
    }

    .preguntas {
        .preguntas__content {
            max-width: 95%;
            padding: 25px 0 0;
        }
    }

    .mecanica {
        max-width: 95%;
        padding: 40px 0 0;
        .mecanica__subtitle h2 { width: auto; }
        .mecanica__steps li {
            width: 100%;
            height: auto;
        }
        .mecanica__sorteo {
            text-align: center;
            .sorteo__block--a,
            .sorteo__block--b,
            .sorteo__block--c {
                padding: 0;
                padding-bottom: 12px;
            }
        }
    }
}