.bg-intro {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }
}

@mixin shadow_box( $x, $y, $blur, $color ) {
    -ms-box-shadow: $x $y $blur $color;
        box-shadow: $x $y $blur $color;
}

@mixin transition_set( $property, $time, $animation ) {
    -webkit-transition: $property $time $animation;
       -moz-transition: $property $time $animation;
        -ms-transition: $property $time $animation;
            transition: $property $time $animation;
}