form#register-form.register-form.register__form(style="display: none;")
    .register-form__field--name
        span
            input#name(name="name", type="text", placeholder="Nombres")
        
    .register-form__field.space.media
        span
            input#lastname_father(name="lastname_father", type="text", placeholder="Apellido Paterno")
        
    .register-form__field.media
        span
            input#lastname_mother(name="lastname_mother", type="text", placeholder="Apellido Materno")
        
    .register-form__group
        .register-form__field.space                      
            label Ingresa tu fecha de Nacimiento

        .register-form__field--born.space
            span
                input#day(name="day", type="text", placeholder="Día", maxlength="2", readonly)

        .register-form__field--born.space
            span
                input#month(name="month", type="text", placeholder="Mes", maxlength="2", readonly)

        .register-form__field--born
            span
                input#year(name="year", type="text", placeholder="Año", maxlength="4", readonly)

    .register-form__field.space.media
        span
            input#dni_log(name="dni_log", type="text", placeholder="DNI", maxlength="8", readonly)
    
    .register-form__group--genre
        .register-form__field.space              
            label Género             

        .register-form__field.space
            label(for="male") M                
            .wrap.check
                input#m(name="gender", type="radio", value="M", checked)

        .register-form__field
            label(for="female") F                      
            .wrap
                input#f(name="gender", type="radio", value="F")

    .register-form__field--email
        span
            input#email(name="email", type="email", placeholder="Correo electrónico")

    .register-form__group--city
        .register-form__field.space
            span
                select#department(name="department")
                    option(value="") • Departamento

        .register-form__field.space
            span
                select#province(name="province")
                    option(value="") • Provincia

        .register-form__field
            span
                select#district(name="district")
                    option(value="") • Distrito
    
    .register-form__field--mobile
        span
            input#mobile(name="mobile", type="text", placeholder="Número de celular", maxlength="9")
    
    .register-form__field--text
        label • Todos estos datos son necesarios para la inscipción en el concurso.
    
    .register-form__field--check
        .wrap
            input#terms(name="terms", type="checkbox")
        label(for="terms") Acepto los <a href="#" target="_blank">Términos y condiciones</a>

    .register-form__field--text
        h3 Recibe novedades y promociones

    .register-form__field--check
        .wrap
            input#promo(name="promo", type="checkbox")
        label(for="promo") Deseo recibir información / promociones por correo (no obligatorio)


    .register-form__action.align-center
        button#btn-register.btn-action__button(type="submit") Continuar
    
    br
    br